<section class="demand">
    <h2 class="pageName">需求<!--<small>more <i class="fa fa-angle-right"></i></small>--></h2>
    <div class="link">
        <h3>请留下您的联系方式，方便我们联系您</h3>
        <label>
            <span><i class="fa fa-user"></i>&nbsp;姓名</span>
            <input type="text" placeholder="您的姓名" />
        </label>
        <label>
            <span><i class="fa fa-phone"></i>&nbsp;电话</span>
            <input type="tel" placeholder="您的联系方式" />
        </label>
        <label>
            <span><i class="fa fa-file-word-o"></i>&nbsp;需求简述</span>
            <textarea placeholder="简要描述"></textarea>
        </label>
        <button>提交</button>
    </div>
</section>