<div class="menu">
    <el-menu mode="vertical" model="1">
        <el-menu-item index="1">综合<i class="fa icon fa-caret-right"></i></el-menu-item>
        <el-menu-item index="2">动物系列<i class="fa icon fa-caret-right"></i></el-menu-item>
        <el-menu-item index="3">程序员系列<i class="fa icon fa-caret-right"></i></el-menu-item>
        <el-menu-item index="3">表情包<i class="fa icon fa-caret-right"></i></el-menu-item>
        <el-menu-item index="3">其他<i class="fa icon fa-caret-right"></i></el-menu-item>
    </el-menu>
</div>