<app-sub-menu category="2" (change)="change($event)"></app-sub-menu>
<section class="page-m">
    <app-search></app-search>

    <div class="block">
        <span class="title">{{title}}</span>
        <app-empty *ngIf="tableData.length == 0"></app-empty>
        <div class="list" *ngIf="tableData.length > 0">
            <div *ngFor="let item of tableData">
                <img [src]="item.img" alt="" />
                <span>{{ item.title }}</span>
            </div>
        </div>
    </div>
</section>