.block{ width: 100%; height: auto;  margin: 0 0 20px; border: 1px solid #e6ebf5; background-color: #fff; box-shadow: 0 2px 12px 0 rgba(0,0,0,.1); color: #2d2f33; border-radius: .05rem; padding: .3rem;}
.block .title{ width: 100%; height: 1rem; line-height: 1rem; display: block; border-bottom: 1px solid #e6ebf5; }
.block .list{ width: 100%; height: auto; overflow: hidden; padding: .2rem 0rem; color: #8a8a8a; }
.block .list li{ overflow: hidden; border-bottom: 1px solid #bfbfbf; padding: .2rem 0; }
.block .list li div{ width: 50%; height: 3.4rem; padding:0 .2rem; background: #fff; float: left; }
.block .list li div img{ width: 100%; height: 78%; }