.slide-menu{ width: 2.8rem; height: 100%; background-image:linear-gradient(to left,rgba(57,61,73,.8) 0%,rgba(57,61,73,.5) 50%,rgba(57,61,73,0) 100%); position: fixed; right: 0; top:0; z-index: 99; text-align: left; padding-top: 2rem; transform: translate(2.8rem); }
.slide-menu span{ text-decoration: none; color: #fff; display: block; height: 1.5rem; line-height: 1.5rem; font-size: .45rem; -webkit-tap-highlight-color: rgba(0,0,0,0); position: relative; padding-left: .2rem; outline: none; text-align: right; padding-right: .5rem; }
.slide-menu span i{ margin-right: .1rem; }
i.menu{ position: fixed; right: 0; text-align: center; line-height: 1.4rem; display: block; width: 1rem; height: 1.4rem; top:0; font-size: .8rem; color: rgb(64, 158, 255); z-index: 10000;}

.slide-menu span.active:before{ transform: scaleX(1); }
.slide-menu span:before{ content: ""; width: .12rem; height: 40%; background: rgb(255,255,255); position: absolute; right: 0rem; top:30%; transform: scaleX(0); transition: .3s ease;}

.slide-menu .user{     display: block;
    position: absolute;
    padding: 5px;
    width: 1rem;
    left: 50%;
    bottom: .6rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    margin-left: -.3rem; }
.slide-menu .user img{ position: absolute; left:.1rem; top:.1rem; width: .8rem; }


.slide-in{ transform: translateX(2.8rem); transition: .3s ease;}
.slide-out{ transform: translateX(0rem);  transition: .3s ease;}