.slide-menu{ width: 100%; padding-left: 5%; height: 80px; line-height: 80px; background-image:linear-gradient(to bottom,rgba(57,61,73,.8) 0%,rgba(57,61,73,.5) 50%,rgba(57,61,73,0) 100%); color: #fff; justify-content: space-around; padding-right: 8%; position: fixed; z-index: 3; }
.slide-menu span{ float:left; width: 10%; cursor: pointer; font-size: 18px; font-weight: bold; font-family: "Microsoft YaHei", "宋体", sans-serif; position: relative; outline: none; text-align: center;}
.slide-menu span a{ text-decoration: none; color: #fff; position: relative; }
.slide-menu span a.active:after{ transform: scaleX(1); }
.slide-menu i{line-height: 80px; margin-right: 3px; }
.slide-menu span a:after{ content: ""; width: 100%; height: 4px; background: rgb(255,255,255); position: absolute; bottom: -30%; left: 0; transform: scaleX(0); transition: .3s ease;}


.slide-menu .user{ display: block; position: absolute; padding: 5px; width: 30px; right: 5%; top:20px; height: 30px; background: #fff; border-radius: 50%; }
.slide-menu .user img{ position: absolute; left: 5px; top:5px; width: 20px; }
.qr{ background: #fff; position: absolute; left: -5%; top:60px; padding: 10px; width: 140px; height: 140px; }
.qr i{ position: absolute; font-size: 40px; top:-46px; left: 50%; margin-left: -11px; }

