<app-sub-menu [menus]="subMenus"></app-sub-menu>
<section class="page-m">
    <app-search></app-search>

    <div class="block">
        <span class="title">那些动物</span>
        <ul class="list">
            <li>
                <div>
                    <img src="assets/dog1.jpg" alt="" />
                    <span>秋田犬</span>
                </div>
                <div>
                    <img src="assets/bird1.jpg" alt="" />
                    <span>猫头鹰</span>
                </div>
            </li>
        </ul>
    </div>
</section>