/*.info-list{ width: 100%; height: auto; text-align: center; color: #fff; background: rgba(29,171,235,.6); padding: 40px 30px; margin:0 0 10px;  border-radius: 5px; }*/
/*.info-list h2{ margin-bottom: 20px; }*/
/*.info-list p{ line-height: 28px; }*/

.banner{ width: 100%; height: 500px; }

.page{ padding-top: 20px; width: 90%; height: auto; margin: 0 auto; }
.search{ width: 60%; height: 60px; margin: 0 auto; overflow: hidden;}
.search .input{ width: 80%; float: left; }
.search .button{ width: 20%; float: left; }

.content{ width: 100%; height: auto; overflow: hidden;}
.content .left{ width: 60%; height: auto; overflow: hidden; float: left; }
.content .right{ width: 38%; float: right; overflow: hidden; }
.content .block{ width: 100%; height: auto; float: left;  margin: 0 0 20px;}
.content .block .more{ font-style: normal; font-size: 12px; color: #8a8a8a; float: right; outline: none; cursor: pointer; }
.content .block .phb{padding: 5px 0 5px 15px;}
.content .block .phb img{ width: 24px; display: block; float: left; }

.content .block .hot { width: 100%; height: auto; outline: none; border-bottom: 1px solid #bfbfbf; padding: 5px 0; overflow: hidden; position: relative;}
.content .block .hot li{ overflow: hidden; padding: 5px 0; margin-top: 5px;  position: relative; border-bottom: 1px solid #e6ebf5; line-height: 30px; }
.content .block .hot li:last-child{ border-bottom: none; }
.content .block .hot p{ width: 75%; height:100%; overflow: hidden; line-height: 20px; font-size: 14px; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical; color: #8a8a8a; text-indent: 2em; float: left; margin-bottom: 10px; }
.content .block .hot .good{ width: 18%; height: 20px; font-size: 12px; position: absolute; right: 0%; top: 5px; color:#bfbfbf;  }
.content .block .hot .good i{ color: #8a8a8a; font-size: 16px; }
.content .block .hot .time{  position: absolute; right: 0; bottom: 5px; height: 20px;  color:#bfbfbf; font-size: 12px;}
.content .block .hot .time i{ color: #8a8a8a; font-size: 16px; }
.content .block .get-more{ width: 100%; height: 32px; line-height: 32px; font-size: 15px; text-align: center; cursor: pointer; outline:none }

.content .inline{ width: 100%;  }
.content .inline .hot div{ width: 50%; height: 230px; padding:0 5px; background: #fff; float: left; }
.content .inline .hot div img{ width: 100%; height: 200px; }
.content .inline .hot span{overflow: hidden; font-size: 14px; color: #8a8a8a; white-space: nowrap; text-overflow: ellipsis; width: 100%; display: block; }

.right{ float: right; }