<app-sub-menu category="1" (change)="change($event)"></app-sub-menu>
<section class="page-m">
    <app-search></app-search>
    <div class="block">
        <span class="title">综合</span>
        <ul class="list">
            <li *ngFor="let item of tableData" [routerLink]="'/mobile/detail/'+ item._id">
                <p><span>【{{item.sub_menu}}】</span>{{ item.title }}</p>
                <time class="time"><i class="fa fa-clock-o"></i>{{ item.update_time }}</time>
            </li>
        </ul>
    </div>
</section>