<section>
    <ul>
        <li>
            <img src="assets/1.jpg" alt="" />
            <div>
                <p class="title">微软开放6万项Linux专利：这对行业意味着什么？</p>
                <p class="content">10月12日消息，据国外媒体报道，本周微软表示，它将允许2600多家其他公司将微软6万项专利背后的技术用于自家与Linux相关的开源项目。这些公司中也包括谷歌和IBM等微软的长期竞争对手。 这对“物联网”设备制造商来说可能是个好消息。Linux支持从互联网汽车到亚马逊智能音箱Echo等诸多硬件设备，但微软长期以来一直声称，各种与Linux相关的技术侵犯了它的专利，并有起诉涉嫌违规者的历史。例如在2009年，微软就起诉GPS导航设备制造商TomTom，称这家公司基于linux的产品侵犯了一项与操作系统如何处理文件存储相关的专利。 微软表示，其将加入开源发明网络Open Invention Network。该网络成立于2005年，自称是“专利非侵犯社区”。从红帽(Red Hat)等Linux公司到丰田和通用汽车等汽车制造商，其成员都同意不再提及涉及Linux项目的专利诉讼。该组织会员还可以获得组织内成员的交叉授权专利。</p>
                <p class="info"><i class="fa fa-eye">&nbsp;&nbsp;167</i><time><i class="fa fa-clock-o"></i>
                    &nbsp;&nbsp;2018-10-14</time></p>
            </div>
        </li>
        <li>
            <img src="assets/2.jpg" alt="" />
            <div>
                <p class="title">保罗·罗默斩获2018年诺贝尔经济学奖，Python 功不可没！</p>
                <p class="content">北京时间10月8日，瑞典皇家科学院宣布，将2018年诺贝尔经济学奖授予美国学者威廉·诺德豪斯（William D. Nordhaus）和保罗·罗默（Paul M. Romer）。

                    此次诺奖共同获得者之一的保罗·罗默是美国著名经济学家，斯坦福大学教授。他是经济增长动力最重要的理论家之一、前世界银行首席经济师、特许城市理论的主要传播者...</p>
                <p class="info"><i class="fa fa-eye">&nbsp;&nbsp;134</i><time><i class="fa fa-clock-o"></i>
                    &nbsp;&nbsp;2018-10-13</time></p>
            </div>
        </li>
    </ul>
</section>