.article{ width: 100%; height: auto; overflow: hidden; position: relative; padding: 0 .5rem;}
.article .title{ display: block; font-size: .45rem; text-align: center; font-weight: normal; color: #2d2f33; line-height: .55rem; }
.article .sub{ font-size:.35rem; color: #8a8a8a; overflow: hidden; height:.7rem; line-height: .7rem; display: flex; justify-content: space-around; text-align: center; }
.article .sub i{ margin-right: 3px; }
.article .sub span{ margin-left: 30px; }

.content{ position: relative; overflow: hidden; }
.content .prev,.content .next{ color: #8a8a8a;  font-size: 16px; cursor: pointer; position: absolute; top:50%; margin-top: -8px; opacity: .3; }
.content .prev:hover,.content .next:hover{ opacity: .8; }
.content .next{ right: 0px; }
.content  .prev i,.content  .next i{  font-size: 40px; }
.content div{ width: 100%; margin: .2rem auto 0; overflow: hidden; min-height: 2rem;  color: #8a8a8a; font-size: .36rem; font-weight: normal; }
.content div img{ width: 100%!important; }

