.pageName{ color: #fff; margin: 15px 0; padding-left: 15px; position: relative; text-align: left; }
.pageName:before{ content: ""; display: block; width: 5px; height: 70%; background: #fff; position: absolute; left: 0; top:15%; }
.pageName small{ font-size: 14px; font-weight: normal; margin-left: 15px; cursor: pointer; }
.news-list{ width: 100%; height: auto; background: transparent; text-align: left; }
.news-list li{ width: 100%; padding: 5px 0%; height: 120px; overflow: hidden; box-sizing: border-box; margin-bottom: 10px; }
.news-list li img{ width:20%; float: left; }
.news-list li div{ float: left; width: calc( 80% - 10px); margin-left: 10px; background: transparent; color: #fff; height:106px; }
.news-list li div p.title{ font-size: 18px; line-height: 24px;}
.news-list li div p.content{ font-size: 14px; line-height: 16px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4;  -webkit-box-orient: vertical; }
.news-list li div p.info{ font-size: 12px; line-height: 30px; }
.news-list li div p.info time{ margin-left: 30px;}