.banner{ width: 100%; height: 5rem; }

.page{ padding-top: .2rem; }
.search{ width: 90%; height: 1rem; display: block; margin: 0 auto .5rem; }
.search input{ width: 70%; height: 100%; padding: 0 .3rem; border: 1px solid #d8dce5; border-radius: .1rem; border-bottom-right-radius: 0; border-top-right-radius: 0; }
.search button{ width: 30%; height: 100%; text-align: center; background: #f5f7fa; border:1px solid #d8dce5; border-top-right-radius: .1rem; border-bottom-right-radius: .1rem; color: rgb(135,141,153); outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0); border-left-width: 0; }

.content{ width: 100%; height: auto; overflow: hidden; }
.content .page-row{  margin: 0 0 15px; overflow: hidden; }
.content .block{ width: 100%; height: auto;  margin: 0 0 20px; border: 1px solid #e6ebf5; background-color: #fff; box-shadow: 0 2px 12px 0 rgba(0,0,0,.1); color: #2d2f33; border-radius: .05rem; padding: .3rem;}
.content .block .more{ font-style: normal; font-size: 12px; color: #8a8a8a; float: right; outline: none;}
.content .block .phb{ padding-left: 30px; background-image: url("/assets/phb.png"); background-repeat: no-repeat; background-size: 20px; }
.content .block .cold{ padding-left: 30px; background-image: url("/assets/lg.png"); background-repeat: no-repeat; background-size: 20px; }
.content .block .animal{ padding-left: 30px; background-image: url("/assets/animal.png"); background-repeat: no-repeat; background-size: 20px; }
.content .block .bqb{ padding-left: 30px; background-image: url("/assets/bqb.png"); background-repeat: no-repeat; background-size: 20px; }



.content .block .list{ width: 100%; height: auto; overflow: hidden; padding: .2rem .2rem; color: #8a8a8a; }
.content .block .list li{ overflow: hidden; border-bottom: 1px solid #bfbfbf; padding: .2rem 0; }
.content .block .list li p{ display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: .6rem; font-size: .4rem; height: 1.2rem; overflow: hidden; margin-bottom: .2rem;}
.content .block li .good{ float: left; }
.content .block li .good i{ color: #8a8a8a; font-size: .35rem; }
.content .block li .time{ float: right; font-size: .4rem;}
.content .block li .time i{ color: #8a8a8a; font-size: .4rem; margin-right: .1rem; }
.content .block .get-more{ width: 100%; height: .6rem; line-height: .6rem; font-size:.4rem; text-align: center; cursor: pointer; outline:none }
.content .block .list li div{ width: 50%; height: 3.8rem; padding:0 .2rem; background: #fff; float: left; }
.content .block .list li div img{ width: 100%; height: 78%; }