<section class="page">
    <app-search></app-search>

    <app-sub-menu category="2"></app-sub-menu>

    <div class="data-list">
        <el-card >
            <ng-template #header>
                <span>综合</span>
            </ng-template>
            <ul class="list">
                <li *ngFor="let item of tableData">
                    <img [src]="item.img" alt="" />
                    <p>【{{ item.type }}】<time>{{ item.time }}</time></p>

                </li>
            </ul>
            <el-pagination [total]="0" [layout]="['prev', 'pager', 'next']">
            </el-pagination>
        </el-card>
    </div>
</section>