<section class="page">
    <app-search></app-search>
    <app-sub-menu [menus]="subMenus"></app-sub-menu>
    <div class="data-list">
        <el-card >
            <ng-template #header>
                <span>冷笑话</span>
            </ng-template>
            <ul class="list">
                <li *ngFor="let item of tableData">
                    <span>【{{item.type}}】</span>
                    <p>{{ item.content }}</p>
                    <time>{{ item.time }}</time>
                </li>
            </ul>
            <el-pagination [total]="0" [layout]="['prev', 'pager', 'next']">
            </el-pagination>
        </el-card>
    </div>


</section>