.pageName{ color: #fff; margin: 15px 0; padding-left: 15px; position: relative; text-align: left; }
.pageName:before{ content: ""; display: block; width: 5px; height: 70%; background: #fff; position: absolute; left: 0; top:15%; }
.pageName small{ font-size: 14px; font-weight: normal; margin-left: 15px; cursor: pointer; }
.demos{ width: 100%; height: auto; overflow: hidden; text-align: left;}
.demos li{ }
.demos li div{ width: 100%; overflow: hidden; color: #fff; }
.demos li div h3{ margin: 15px 0; }
.demos li div img{ width: 32%; float:left; margin-bottom: 10px; margin-right: 2%; }
.demos li div img:last-child{ margin-right: 0; }