.info-list{ width: 100%; height: auto; text-align: center; color: #fff; background: rgba(29,171,235,.6); padding: 40px 30px; margin:0 0 10px;  border-radius: 5px; }
.info-list h2{ margin-bottom: 20px; }
.info-list p{ line-height: 28px; }