<section style="background: none; padding-top: 0;" class="page">
    <div class="info-list">
        <h2>服务内容</h2>
        <p>企业官网，电商系统，H5移动端跨平台开发</p>
        <p>定制 App，安卓&IOS 混合开发</p>
        <p>微信小程序，微信公众号</p>
    </div>
    <div class="info-list">
        <app-demo [page]="false"></app-demo>
    </div>
    <div class="info-list">
        <app-news [page]="false"></app-news>
    </div>
    <div class="info-list">
        <app-demand [page]="false"></app-demand>
    </div>
    <div [el-loading]="loading" [full-screen]="false" [lock]="true" text="加载中"></div>
</section>