<section>
    <div class="info">
        <h2>需求定制</h2>
        <p>企业官网，电商系统，H5移动端跨平台开发</p>
        <p>定制 App，安卓&IOS 混合开发</p>
        <p>微信小程序，微信公众号</p>
    </div>
    <div class="info">
        <div class="link" style="background: transparent;">
            <h3>请留下您的联系方式，方便我们联系您</h3>
            <label>
                <span><i class="fa fa-user"></i>&nbsp;姓名</span>
                <input type="text" placeholder="您的姓名" />
            </label>
            <label>
                <span><i class="fa fa-phone"></i>&nbsp;电话</span>
                <input type="tel" placeholder="您的联系方式" />
            </label>
            <label>
                <span><i class="fa fa-file-word-o"></i>&nbsp;需求简述</span>
                <textarea placeholder="简要描述"></textarea>
            </label>
            <button>提交</button>
        </div>
    </div>
</section>