<section style="background: none; padding-top: 0;">
    <div class="info-list">
        <h2>服务内容</h2>
        <p>企业官网，电商系统，H5移动端跨平台开发</p>
        <p>定制 App，安卓&IOS 混合开发</p>
        <p>微信小程序，微信公众号</p>
    </div>
    <div class="info-list">
        <h2 class="pageName">案例<small (click)="linkTo('/demo')">more <i class="fa fa-angle-right"></i></small></h2>
        <ul class="demos">
            <li>
                <div>
                    <h3>bison</h3>
                    <div>
                        <img src="assets/demo1.jpg" alt="" />
                        <img src="assets/demo2.jpg" alt="" />
                        <img src="assets/demo3.jpg" alt="" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="info-list">
        <h2 class="pageName">行业小知识<small (click)="linkTo('/news')">more
            <i class="fa fa-angle-right"></i></small></h2>
        <ul class="news-list">
            <li>
                <img src="assets/1.jpg" alt="" />
                <div>
                    <p class="title">微软开放6万项Linux专利：这对行业意味着什么？</p>
                    <p class="content">10月12日消息，据国外媒体报道，本周微软表示，它将允许2600多家其他公司将微软6万项专利背后的技术用于自家与Linux相关的开源项目。这些公司中也包括谷歌和IBM等微软的长期竞争对手。 这对“物联网”设备制造商来说可能是个好消息。Linux支持从互联网汽车到亚马逊智能音箱Echo等诸多硬件设备，但微软长期以来一直声称，各种与Linux相关的技术侵犯了它的专利，并有起诉涉嫌违规者的历史。例如在2009年，微软就起诉GPS导航设备制造商TomTom，称这家公司基于linux的产品侵犯了一项与操作系统如何处理文件存储相关的专利。 微软表示，其将加入开源发明网络Open Invention Network。该网络成立于2005年，自称是“专利非侵犯社区”。从红帽(Red Hat)等Linux公司到丰田和通用汽车等汽车制造商，其成员都同意不再提及涉及Linux项目的专利诉讼。该组织会员还可以获得组织内成员的交叉授权专利。</p>
                    <p class="info"><i class="fa fa-eye">&nbsp;&nbsp;167</i><time><i class="fa fa-clock-o"></i>
                        &nbsp;&nbsp;2018-10-14</time></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="info-list">
        <div class="link" style="background: transparent;">
            <h3>请留下您的联系方式，方便我们联系您</h3>
            <label>
                <span><i class="fa fa-user"></i>&nbsp;姓名</span>
                <input type="text" placeholder="您的姓名" [(ngModel)]="nick_name" />
            </label>
            <label>
                <span><i class="fa fa-phone"></i>&nbsp;电话</span>
                <input type="tel" placeholder="您的联系方式" [(ngModel)]="contact" id="contact" />
            </label>
            <label>
                <span><i class="fa fa-file-word-o"></i>&nbsp;需求简述</span>
                <textarea placeholder="简要描述" [(ngModel)]="remarks"></textarea>
            </label>
            <button (click)="submit()">提交</button>
        </div>
    </div>
    <div [el-loading]="loading" [full-screen]="false" [lock]="true" text="加载中"></div>
</section>